APP_ENV="local"|"developement"
APP_PORT=""
CLIENT_HOST=""

GOOGLE_CLIENT_ID=client-id-here
GOOGLE_CLIENT_SECRET=client-secret-here

JWT_SECRET="jwt-secret-here"

OPENAI_API_KEY="open-ai-api-key-here"
